---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
	<main class="relative flex justify-center max-md:flex-col py-8 px-16 gap-16">
		<div class="justify-center w-1/3 p-6 h-fit bg-neutral-800">
			<h1>Hero</h1>
			<h1>About</h1>
			<h1>ThemeSwitch</h1>
			<!-- <Hero />
			<About />
			<ThemeSwitch /> -->
		</div>
		<div class="flex flex-col gap-3 w-full ">
			<header class="bg-neutral-800">Header</header>

			<div class="p-6 bg-neutral-800">

				<h1 >Experience</h1>
				<h1 >Projects</h1>
				<h1 >Skills</h1>
				<h1 >Education</h1>
				
			</div>

		</div>
		<!-- <Tail /> -->
	</main>
</Layout>
