---
import Layout from '../layouts/Layout.astro';

import GitHub from '../icons/GitHub.astro'
import LinkedIn from '../icons/LinkedIn.astro'
import Mail from '../icons/Mail.astro'
import Phone from '../icons/Phone.astro'
import MailBox from '../icons/MailBox.astro'
import MapPin from '../icons/MapPin.astro'
import Language from '../icons/Language.astro'
import Briefcase from '../icons/Briefcase.astro'
import Code from '../icons/Code.astro'
import Graduation from '../icons/Graduation.astro'
import User from '../icons/User.astro'
import Lightbulb from '../icons/Lightbulb.astro'
import React from '../icons/React.astro'
import CSS from '../icons/CSS.astro'
import Git from '../icons/Git.astro'
import Java from '../icons/Java.astro'
import Springboot from '../icons/Springboot.astro'
import Angular from '../icons/Angular.astro'
import Javascript from '../icons/Javascript.astro'
import Typescript from '../icons/Typescript.astro'
import HTML from '../icons/HTML.astro'
import Tailwind from '../icons/Tailwind.astro'
import PostgreSQL from '../icons/PostgreSQL.astro'
import MySQL from '../icons/MySQL.astro'
import Figma from '../icons/Figma.astro'

import Photo from '../components/Photo.astro'
import PersonalInfo from '../components/PersonalInfo.astro'
import Header from '../components/Header.astro'
import SocialMediaBtn from '../components/SocialMediaBtn.astro';
import Experience from '../components/Experience.astro'
import ModalProject1 from '../components/ModalProject1.astro';
import ModalProject2 from '../components/ModalProject2.astro';
import "../styles/global.css";
import Badge from '../components/Badge.astro';
---

<Layout>
	<main class="flex justify-center max-lg:flex-col max-lg:items-center py-8 px-16 gap-16">
		<section class="sticky top-1 max-lg:relative flex flex-col gap-4 justify-center p-6 h-fit rounded-2xl bg-[#1c1c1c]">
			<Photo />
			
			<h1 class="pt-6 text-center text-3xl font-bold text-balance">Jose Ivan Campos Chavez</h1>
			<h2 class="text-center text-lg text-balance">Computer Systems Engineer | Full Stack Developer</h2>

			<div class="flex justify-center">
				<SocialMediaBtn href='https://github.com/IvanCsCz'>
					<GitHub />
				</SocialMediaBtn>
				<SocialMediaBtn href='https://www.linkedin.com/in/ivancscz/'>
					<LinkedIn />
				</SocialMediaBtn>
				<a href="mailto:ivan820plus@gmail.com" class="cursor-pointer text-black bg-[#a8b1ff] hover:bg-[#7682f0] font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2">
					<Mail />
				</a>
			</div>

			<div class="flex flex-col gap-2 px-6 py-2 w-full rounded-2xl bg-[#202020]">
				<PersonalInfo title="EMAIL" label="ivan820plus@gmail.com">
					<MailBox />
				</PersonalInfo>
				<PersonalInfo title="PHONE" label="+52 341-129-86-75" secondaryLabel="+52 341-167-48-72">
					<Phone />
				</PersonalInfo>
				<!-- <PersonalInfo title="LOCATION" label="México/Jalisco">
					<MapPin />
				</PersonalInfo> -->
				<PersonalInfo title="LANGUAGES" label="Spanish" secondaryLabel="English">
					<Language />
				</PersonalInfo>
			</div>

			<a href="/JoseIvanCamposCV.pdf" download="ivcv.pdf" class="py-2 rounded-2xl text-center text-lg text-black font-bold cursor-pointer bg-[#a8b1ff] hover:bg-[#7682f0]">
				Download CV
			</a>
		</section>

		<section class="flex flex-col gap-8 w-full ">
			<Header />
			<div class="flex flex-col gap-12 rounded-2xl px-8 py-12  bg-[#1c1c1c]">

				<section id="experience" class="flex flex-col scroll-mt-42">
					<div class="flex items-center gap-2">
						<Briefcase />
						<h3 class="w-full text-bold text-2xl">Experience</h3>
					</div>
					<Experience />
				</section>

				<section id="projects" class="flex flex-col scroll-mt-30">
					<div class="flex items-center gap-2">
						<Code />
						<h3 class="w-full text-bold text-2xl">Projects</h3>
					</div>
					
					<button class="bg-blue-500 text-white px-4 py-2 rounded" id="openModal">Abrir Modal</button>
					<ModalProject1 />
				</section>

				<section id="skills" class="flex flex-col scroll-mt-30">
					<div class="flex items-center gap-2">
						<Lightbulb />
						<h3 class="w-full text-bold text-2xl">Skills</h3>
					</div>
					
					<div class="flex flex-wrap p-6 gap-4">
						<Badge label="Angular" color="text-red-600" borderColor="border-red-600">
							<Angular />
						</Badge>
						<Badge label="Java" color="text-red-600" borderColor="border-red-600">
							<Java />
						</Badge>
						<Badge label="CSS" color="text-blue-600" borderColor="border-blue-600">
							<CSS />
						</Badge>
						<Badge label="MySQL" color="text-blue-400" borderColor="border-blue-400">
							<MySQL />
						</Badge>
						<Badge label="PostgreSQL" color="text-blue-400" borderColor="border-blue-400">
							<PostgreSQL />
						</Badge>
						<Badge label="Typescript" color="text-blue-400" borderColor="border-blue-400">
							<Typescript />
						</Badge>
						<Badge label="React" color="text-cyan-400" borderColor="border-cyan-400">
							<React />
						</Badge>
						<Badge label="Tailwind" color="text-cyan-400" borderColor="border-cyan-400">
							<Tailwind />
						</Badge>
						<Badge label="Springboot" color="text-[#68bd45]" borderColor="border-[#68bd45]">
							<Springboot />
						</Badge>
						<Badge label="Javascript" color="text-yellow-400" borderColor="border-yellow-400">
							<Javascript />
						</Badge>
						<Badge label="Figma" color="text-yellow-400" borderColor="border-yellow-400">
							<Figma />
						</Badge>
						<Badge label="HTML" color="text-orange-400" borderColor="border-orange-400">
							<HTML />
						</Badge>
						<Badge label="Git" color="text-orange-400" borderColor="border-orange-400">
							<Git />
						</Badge>
					</div>

				</section>

				<section id="education" class="flex flex-col pl-1 scroll-mt-20">
					<div class="flex items-center gap-2">
						<Graduation />
						<h3 class="w-full text-bold text-2xl">Education</h3>
					</div>

					<div class="relative mt-4 ml-5">                  
						<time class="text-sm font-normal leading-none text-gray-400 dark:text-gray-500">August 2017 - June 2022</time>
					
						<h3 class="my-2 text-lg font-semibold text-gray-900 dark:text-white">Computer Systems Engineering - Instituto Tecnológico de Ciudad Guzmán</h3>
					</div>
					<div class="relative mt-4 ml-5">                  
						<time class="text-sm font-normal leading-none text-gray-400 dark:text-gray-500">August 2020 - December 2022</time>
					
						<h3 class="my-2 text-lg font-semibold text-gray-900 dark:text-white">VOCABLO Idiomas Premium Certificate - American English Course</h3>
					</div>
					<div class="relative mt-4 ml-5">                  
						<time class="text-sm font-normal leading-none text-gray-400 dark:text-gray-500">February 2020</time>
					
						<h3 class="my-2 text-lg font-semibold text-gray-900 dark:text-white">SCRUM Certification – Professional SCRUM™ Certifications</h3>
					</div>
				</section>

				<section id="about-me" class="flex flex-col scroll-mt-20">
					<div class="flex items-center gap-2">
						<User />
						<h3 class="w-full text-bold text-2xl">About me</h3>
					</div>

					<article class="flex flex-col p-6 items-center justify-center gap-8  dark:text-gray-300 md:flex-row">
						<div
							class="[&>p]:mb-4 text-pretty order-2 md:order-1"
						>
							<p class="text-pretty">
								Hi, I'm <span class="text-[#a8b1ff]">José Iván Campos Chávez, a creative and driven Computer Systems Engineer</span> with a passion for building functional and visually engaging web applications. My journey in software development began with <span class="text-[#a8b1ff]">Java</span>, which laid the foundations of programming.
							</p>
							<p class="text-pretty">
								After gaining my first professional experience, I had the opportunity to dive into <span class="text-[#a8b1ff]">frontend development</span>, working with <span class="text-[#a8b1ff]">JavaScript, TypeScript, React, and Vue</span>. As I expanded my skill set, I became interested in bridging frontend and backend development, which led me to explore <span class="text-[#a8b1ff]">Angular, Tailwind, and PostgreSQL</span>—technologies that I quickly grew to love.
							</p>
							<p class="text-pretty">
								I specialize in crafting solutions that solve real-world problems efficiently, leveraging frameworks like <span class="text-[#a8b1ff]">Spring Boot for backend development</span>. My work philosophy is deeply rooted in teamwork and Agile practices, always striving for collaboration and continuous improvement.
							</p>
							<p class="text-pretty">
								Currently, I’m focused on mastering <span class="text-[#a8b1ff]">JWT and OAuth2</span> for backend authentication, as well as diving into <span class="text-[#a8b1ff]">backend testing</span> to enhance system reliability and security.
							</p>
						</div>
					
					</article>
					

				</section>
				
			</div>

		</section>
		<!-- <Tail /> -->
	</main>
</Layout>

<script>
  const openModal = document.getElementById("openModal")!;
  const closeModal = document.getElementById("closeModal")!;
  const modal = document.getElementById("modal")!;

  openModal.addEventListener("click", () => {
    modal.classList.remove("opacity-0", "invisible");
  });

  closeModal.addEventListener("click", () => {
    modal.classList.add("opacity-0", "invisible");
  });

  modal.addEventListener("click", (event) => {
    if (event.target === modal) {
      modal.classList.add("opacity-0", "invisible");
    }
  });
</script>