<ol class="relative mt-8 ml-1 border-s border-gray-600">                  
  
  <li class="mb-21 ms-4">
    <div class="absolute w-3 h-3 bg-[rgb(168,177,255)] rounded-full mt-1.5 -start-1.5 border  dark:border-gray-900 "></div>
    <time class="text-sm font-normal leading-none text-gray-400 dark:text-gray-500">March 2022 - January 2023</time>

    <h3 class="my-2 text-lg font-semibold text-gray-900 dark:text-white">Front-end Developer - General Electric Aviation</h3>
    <ul class="space-y-2 text-gray-300 list-disc list-inside">
        <li>
          Developed interactive graphing functionality and advanced filters using Vue.js to improve
          data visualization and search precision, increasing user satisfaction scores.
        </li>
        <li>
          Identified and resolved CSS inconsistencies through audits, implemented fixes, and
          established automated regression tests, stabilizing the design and reducing reported visual
          issues.
        </li>
    </ul>
  </li>
  <li class="ms-4">
    <div class="absolute w-3 h-3 bg-[#a8b1ff] rounded-full mt-1.5 -start-1.5 border  dark:border-gray-900 "></div>
    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">October 2021 - February 2022</time>

    <h3 class="my-2 text-lg font-semibold text-gray-900 dark:text-white">Software Developer - DigitalOnUs By Tech Mahindra</h3>
    <ul class="space-y-4 text-gray-300 list-disc list-inside">
        <li>
          Designed and developed a CRUD web application using Java, Spring Boot, TypeScript
          and React to automate CV creation, reducing manual generation time.
        </li>
        <li>
          Implemented Agile practices by accomplishing tasks every two weeks. Collaborated in
          Agile sprints using Jira, actively participating in task completion and retrospectives to
          enhance team productivity and delivery efficiency.
        </li>
        <li>
          Mastered Git workflows by using branches for tasks, resolving merge conflicts, and
          submitting pull requests, ensuring a smooth and organized development process.
        </li>
    </ul>
  </li>
</ol>