<div id="modal" class="fixed inset-0 flex items-center justify-center bg-black/50 transition-opacity duration-300 opacity-0 invisible">

  <div class="bg-[#202020] p-6 rounded-lg shadow-lg w-[90%] max-h-[80vh] overflow-y-auto relative">
    <h2 class="text-xl text-center font-bold">Modal Project 1</h2>
    
    <button class="mt-4 bg-red-500 text-white px-4 py-2 rounded" id="closeModal">Exit</button>
  </div>

</div>