<section class="pt-6 ">
  <figure class="m-auto print:hidden w-fit relative">
    <img class="w-32 shadow-lg shadow-skin-hues" src="/ivan.jpeg" alt="Ivan's photo" />
    <div class="pointer-events-none absolute -inset-2">
      <div class="absolute -inset-y-8 right-0 w-px bg-[#a8b1ff] [mask-image:linear-gradient(to_top,transparent,white_4rem,white_calc(100%-4rem),transparent)]"></div>
      <div class="absolute -inset-y-8 left-0 w-px bg-[#a8b1ff]  [mask-image:linear-gradient(to_top,transparent,white_4rem,white_calc(100%-4rem),transparent)]"></div>
      <div class="absolute -inset-x-8 bottom-0 h-px bg-[#a8b1ff]  [mask-image:linear-gradient(to_left,transparent,white_4rem,white_calc(100%-4rem),transparent)]"></div>
      <div class="absolute -inset-x-8 top-0 h-px bg-[#a8b1ff]  [mask-image:linear-gradient(to_left,transparent,white_4rem,white_calc(100%-4rem),transparent)]"></div>
    </div>
  </figure>
</section>
  
  
