---
import '@fontsource-variable/onest';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio of Jose Ivan Campos Chavez - Full Stack Developer with 2 years of experience</title>
	</head>
	<body class="bg-indigo-400 bg-[url(/blurry-gradient-haikei-dark.svg)] bg-no-repeat
 bg-cover bg-center bg-fixed">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		color: white;
		font-family: 'Onest Variable', sans-serif;
		scroll-behavior: smooth;
	}

	@media (prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}
</style>
